.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;

  overflow: auto;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;

  padding: 140px 192px;

  background-color: $white;

  z-index: 99;

  @include media-max($lg) {
    padding: 24px 16px;
    z-index: 999;
  }
}
